.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 280px;
  font-size: 1rem;
}
.mat-mdc-list-base .mat-mdc-list-item {
  font-size: 1rem;
  height: 32px;
  font-weight: bolder;
}
.mat-mdc-list-base .mat-mdc-list-item.ss {
  font-size: 0.9rem;
  font-weight: normal;
  margin-left: 1rem;
}
.mat-toolbar > span {
  font-size: 1.1rem;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.nav-active {
  background-color: #efe5fd;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-toolbar span:nth-child(4) {
  height: 24px;
}
.app-nav-button {
  position: absolute;
  z-index: 1;
  bottom: 15px;
}
a.nostyle {
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}
#prev {
  left: 15px;
}
#next {
  right: 15px;
}
.menu-button {
  box-shadow: none;
}
