<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/800">800 ゲームの説明</a>
      <a mat-list-item routerLink="/801">801 ルールの適用</a>
      <a mat-list-item routerLink="/80101" class="ss">801.01 公平性</a>
      <a mat-list-item routerLink="/80102" class="ss">801.02 実施</a>
      <a mat-list-item routerLink="/80103" class="ss">801.03 抗議</a>
      <a mat-list-item routerLink="/802">802 スローイング</a>
      <a mat-list-item routerLink="/80201" class="ss">802.01 スロー</a>
      <a mat-list-item routerLink="/80202" class="ss">802.02 プレーの順番</a>
      <a mat-list-item routerLink="/80203" class="ss">802.03 タイムオーバー</a>
      <a mat-list-item routerLink="/80204" class="ss">802.04 ティーオフ</a>
      <a mat-list-item routerLink="/80205" class="ss">802.05 ライ</a>
      <a mat-list-item routerLink="/80206" class="ss">802.06 ライのマーキング</a>
      <a mat-list-item routerLink="/80207" class="ss">802.07 スタンス</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>rules</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
