<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>目次</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/800" routerLinkActive="nav-active">800 ゲームの説明</a>
      <a mat-list-item routerLink="/801" routerLinkActive="nav-active">801 規則の適用</a>
      <a mat-list-item routerLink="/80101" routerLinkActive="nav-active" class="ss">801.01 公平性</a>
      <a mat-list-item routerLink="/80102" routerLinkActive="nav-active" class="ss">801.02 実施</a>
      <a mat-list-item routerLink="/80103" routerLinkActive="nav-active" class="ss">801.03 抗議</a>
      <a mat-list-item routerLink="/802" routerLinkActive="nav-active">802 スローイング</a>
      <a mat-list-item routerLink="/80201" routerLinkActive="nav-active" class="ss">802.01 スロー</a>
      <a mat-list-item routerLink="/80202" routerLinkActive="nav-active" class="ss">802.02 プレーの順番</a>
      <a mat-list-item routerLink="/80203" routerLinkActive="nav-active" class="ss">802.03 タイムオーバー</a>
      <a mat-list-item routerLink="/80204" routerLinkActive="nav-active" class="ss">802.04 ティーオフ</a>
      <a mat-list-item routerLink="/80205" routerLinkActive="nav-active" class="ss">802.05 ライ</a>
      <a mat-list-item routerLink="/80206" routerLinkActive="nav-active" class="ss">802.06 ライのマーキング</a>
      <a mat-list-item routerLink="/80207" routerLinkActive="nav-active" class="ss">802.07 スタンス</a>
      <a mat-list-item routerLink="/803" routerLinkActive="nav-active">803 障害物と救済</a>
      <a mat-list-item routerLink="/80301" routerLinkActive="nav-active" class="ss">803.01 動かせる障害物</a>
      <a mat-list-item routerLink="/80302" routerLinkActive="nav-active" class="ss">803.02 障害物からの救済</a>
      <a mat-list-item routerLink="/80303" routerLinkActive="nav-active" class="ss">803.03 コースの損壊</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>rules</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
